.container {
  padding: 0;
  margin: 0 auto 6rem;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #1f1f1f;
  color: #ffffff
}

.leftSection {
  display: flex;
  align-items: center;
  flex: 1;
}

.headerHomeLink {
  display: flex;
  align-items: center;
}

.headerHomeLink:hover {
  text-decoration: none;
}

.centerSection {
  flex: 1;
}

.rightSection {
  flex: 1;
}

.headerTitle {
  margin: 0.2em 0;
}

.headerLogo {
  margin-right: 10px;
}

.mainContainer {
  text-align: center;
}

.backToHome {
  margin: 3rem 0 0;
}
