.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(24, 24, 24, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    min-width: 300px;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 3px 3px 12px #181818;
}

.modalHeader {
    display: flex;
}

.titleWrapper {
    flex: 1;
    padding: 10px 15px;
    color: #000000;
    font-size: 15px;
    line-height: 15px;
}

.closeButtonWrapper {

}

.modalBody {
    padding: 0 15px 30px 15px;
}




